<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <!-- <a class="nav-link" href="#">Active</a> -->
      <a class="nav-link" [routerLink]="['race']">Home</a>

    </li>
    <li class="nav-item">
     
      <a class="nav-link" [routerLink]="['veto']">Abonnement</a>

    </li> 
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['Ferme']">Banir Abonné</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['categorie']">About</a>
    </li>
  </ul>
</nav>
<router-outlet>       
</router-outlet>  

 